.container__tempo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  padding: 10px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  color: var(--color-font);
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  gap: 60px;
}

.container__top {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__header span {
  font-size: 18px;
}

.card__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  gap: 10px;
}

.card__main__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__main__left .card__main__left__temp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__main__left .card__main__left__temp img {
  width: auto;
  height: 100px;
}

.card__main__left .card__main__left__temp span {
  font-size: 57px;
  font-weight: bold;
  color: var(--color-font);
}

.card__main__left span {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-font);
}

.card__main__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-end;
  gap: 10px;
}

.container__bottom {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card__previsao {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card__previsao__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .card__main {
    width: 100%;
    gap: 20px;
    font-size: medium;
  }

  .container__bottom {
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 36px;
  }

  .card__previsao {
    width: 80px;
  }

}
