.container__tempo, .container__semanal{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(317.63deg, #353589 -7.42%, #9a9aff 120.45%);
  padding: 10px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  gap: 60px;
}

.container__top{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.card__header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__header span{
  font-size: 18px;
}

.card__main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  gap: 10px;
}

.card__main__left{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__main__left .card__main__left__temp{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__main__left .card__main__left__temp img {
  width: auto;
  height: 100px;
}

.card__main__left .card__main__left__temp span {
  font-size: 57px;
  font-weight: bold;
  color: #fff;
}

.card__main__left span{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.card__main__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-end;
  gap: 10px;
}

/* ------------------------------------------------------------------------ */

.container__bottom{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card__previsao{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card__previsao__main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------------------------------------------------------------ */

.container__semanal{
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
  align-items: center;
    justify-content: center;
    align-items: stretch;
}

.card__linha{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card__linha img{
  width: auto;
  height: 50px;
}

.card__linha .card_coluna{
  display: flex;
  justify-content: center;
  width: 15%;
}

