<div class="container__tempo">
  <div class="container__top">
    <div class="card__header">
      <p>{{ dadosAgora.name }}, {{ dadosAgora.sys.country }}</p>
      <span>{{ formatDateTimeNow(dadosAgora.dt) }}</span>
    </div>

    <div class="card__main">
    <div class="card__main__left">
      <div class="card__main__left__temp">
        <img src="https://openweathermap.org/img/wn/{{dadosAgora.weather[0].icon}}@2x.png" alt="">
        <span>{{ convertTemperature(dadosAgora.main.temp) }}°</span>
      </div>
      <span>Sensação de {{ convertTemperature(dadosAgora.main.feels_like) }}º</span>
    </div>
    <div class="card__main__right">
      <span> {{ dadosAgora.weather[0].description }}</span>
      <span>{{ convertTemperature(dadosAgora.main.temp_max) }}° max / {{ convertTemperature(dadosAgora.main.temp_min) }}° min</span>
    </div>
  </div>
  </div>

  <div class="container__bottom">
  @for (dado of dadosPrevisao; track $index) {
    <div class="card__previsao">
      <div class="card__previsao__header">
        <span>{{ formatDateTime(dado.dt_txt) }}</span>
      </div>

      <div class="card__previsao__main">
        <img src="https://openweathermap.org/img/wn/{{dado.weather[0].icon}}@2x.png" alt="">
        <span>{{ convertTemperature(dado.main.temp) }}°</span>
      </div>
    </div>
  }
  </div>
</div>

<div class="container__semanal">
  @for (dado of dadosPrevisaoTempoDiario; track $index) {
    <div class="card__linha">
      <div class="card_coluna">
        <span>{{ getFormattedDate(dado.dt) }}</span>
      </div>
      <div class="card_coluna">
        <img src="https://openweathermap.org/img/wn/{{dado.weather[0].icon}}@2x.png" alt="">
      </div>
      <div class="card_coluna">
        <span>{{ convertTemperature(dado.temp.max) }}° / {{ convertTemperature(dado.temp.min) }}°</span>
      </div>
      <div class="card_coluna">
        <span>{{ dado.weather[0].description }}</span>
      </div>
    </div>
  }
</div>

