<div class="container__tempo">
  <div class="container__top">
    <div class="card__header">
      <p>{{ dadosTempoAgora.name }}, {{ dadosTempoAgora.sys.country }}</p>
      <span>{{ formatDateTimeNow(dadosTempoAgora.dt) }}</span>
    </div>

    <div class="card__main">
    <div class="card__main__left">
      <div class="card__main__left__temp">
        <img src="https://openweathermap.org/img/wn/{{dadosTempoAgora.weather[0].icon}}@2x.png" alt="">
        <span>{{ convertTemperature(dadosTempoAgora.main.temp) }}°</span>
      </div>
      <span>Sensação de {{ convertTemperature(dadosTempoAgora.main.feels_like) }}º</span>
    </div>
    <div class="card__main__right">
      <span> {{ dadosTempoAgora.weather[0].description }}</span>
      <span>{{ convertTemperature(dadosTempoAgora.main.temp_max) }}° max / {{ convertTemperature(dadosTempoAgora.main.temp_min) }}° min</span>
    </div>
  </div>
  </div>

  <div class="container__bottom">
  @for (dado of dadosPrevisao; track $index) {
    <div class="card__previsao">
      <div class="card__previsao__header">
        <span>{{ formatDateTime(dado.dt_txt) }}</span>
      </div>

      <div class="card__previsao__main">
        <img src="https://openweathermap.org/img/wn/{{dado.weather[0].icon}}@2x.png" alt="">
        <span>{{ convertTemperature(dado.main.temp) }}°</span>
      </div>
    </div>
  }
  </div>
</div>
